* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color:#5cd6d6;
      
}
.Todoform {
    min-height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color:#29a3a3;
}

h1{
    text-align: center;
    margin:25px 200px;
    text-decoration: underline;
    width:250px;
    font-size:30px;
    
}

.todo-input{
    flex-grow:0.5;
    border: solid;
    background: #f7f1f1;
    padding: 0 ;
    font-size: initial;
    height:25px;
    margin:10px;
    margin-left:70px; 
}

.todo-btn{
    background-color:black;
    margin-right:45px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3 ease;
    border-style: groove;
    color:white;
    padding:5px;
}

.todo-btn:hover{
    color:white;
}

.Todo {
    flex-grow: 1;
    margin:5px;
    background: white;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.td-input
{

    flex-grow: 0.10;
    border: solid;
    background: #f7f1f1;
    font-size: initial;
    height:25px; 
    justify-content:flex-start;
    background-color: azure;
}

.todo-label{
    font-size:25px;
    justify-content:left;
    border:none;
    background-color: white;
    flex-grow:1;
    width: 150px;
}

.trash{
    
    font-size: 25px;
    justify-content: flex-end;
    background-color:white;
    cursor: pointer;
}

.fapen{
    font-size: 25px;
    background-color: white;
    margin-right: 4px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.Todo-update
{
    margin-top: 5px;
    margin-right: 2px;
    background: white;
    flex-grow: 1;
    border:solid;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height:25px;
}
.update-input
{
    border: solid grey;
    width: 400px;
    background-color: white;
}
.save-btn{
    width:120px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    transition: all 0.3 ease;
    border-style: groove;
    color:white;
}
.cancel-btn{
    width:120px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    transition: all 0.3 ease;
    border-style: groove;
    color:white;
}

.done-todo{
    margin:5px;
    background: white;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}